.left-section {
  width: 481px;
  float: left;
}
.left-section .top-1 {
  height: 142px;
  background: url(../img/left-top1.png);
}
.left-section .top-2 {
  height: 236px;
  background: url(../img/left-top2.png);
}
.left-section .top-3 {
  height: 236px;
  background: url(../img/left-top3.png);
}
.left-section .top-4 {
  height: 236px;
  background: url(../img/left-top4.png);
}