@font-face {
  font-family: 'myfont';
  src: url('../font/font.otf'),
    url('../font/font.svg'),
    url('../font/font.eot'),
    url('../font/font.ttf'),
    url('../font/font.woff');
}

@font-face {
  font-family: 'altgot';
  src: url('../font/altgot2n_1.otf'),
    url('../font/altgot2n_1.svg'),
    url('../font/altgot2n_1.eot'),
    url('../font/altgot2n_1.ttf'),
    url('../font/altgot2n_1.woff');
}

@font-face {
  font-family: 'icdn';
  src: url('../font/lcdn_1.otf'),
    url('../font/lcdn_1.svg'),
    url('../font/lcdn_1.eot'),
    url('../font/lcdn_1.ttf'),
    url('../font/lcdn_1.woff');
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
html {
}
body {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background-color: #00011e;
  font-family: "myfont";
  color: #81b9fc;
}

.icdn {
  font-family: "icdn";
}

.altgot {
  font-family: "altgot";
}

.header {
  box-sizing: border-box;
  background: url(../img/header.png) no-repeat;
  height: 66px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  padding-top: 16px;
}

.main-wrap {
  display: table;
  margin: 32px auto 0;
  overflow: hidden;
}