.mid-section {
  float: left;
  width: 829px;
  height: 930px;
  margin: 0 15px;
  background-image: url(../img/mid.png);
}

.mid-section .top-1 {
  position: relative;
  height: 672px;
  margin-bottom: 23px;
}

.mid-section .top-1 ul {
  position: absolute;
  top: 44px;
  left: 27px;
  display: flex;
}

.mid-section .top-1 ul li {
  width: 190px;
  height: 126px;
  margin-right: 6px;
  background-image: url(../img/mid-top-2.png);
  background-size: 100% 100%;
  text-align: center;
}

.mid-section .top-1 ul li dl dt {
  margin-bottom: 20px;
  line-height: 40px;
  font-size: 16px;
}

.mid-section .top-1 ul li dl dd {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.mid-section .top-1 ul li dl dd i {
  font-size: 42px;
  line-height: 1em;
  color: #fcef01;
  ;
}

.mid-section .top-1 ul li dl dd span {
  font-size: 14px;
  line-height: 1em;
  margin-left: 4px;
}

.mid-section .top-1 ul li:first-child {
  background-image: url(../img/mid-top-1.png);
}

.mid-section .top-1 ul li:last-child {
  margin-right: 0;
  background-image: url(../img/mid-top-3.png);
}

.mid-section .top-1 h3 {
  position: absolute;
  top: 196px;
  left: 26px;
  white-space: nowrap;
  line-height: 26px;
}

.mid-section .top-1 h3 span {
  font-size: 26px;
  color: #fcef01;
}

.mid-section .top-1 img.big {
  position: absolute;
  top: 280px;
  left: 235px;
}

.mid-section .top-1 img.small {
  position: absolute;
  top: 388px;
  left: 42px;
}

.mid-section .top-1 .chat-wrap {
  font-size: 10px;
  color: #81b9fc;
}

.mid-section .top-1 .chat-wrap dl {
  color: #fcef01;
  position: absolute;
  right: 0;
  top: -25px;
  display: flex;
}

.mid-section .top-1 .chat-wrap dl dt {
  font-size: 20px;
  line-height: 1em;
}

.mid-section .top-1 .chat-wrap dl dd {
  font-size: 10px;
  line-height: 1em;
  margin-left: 2px;
}

.mid-section .top-1 .chat-wrap .huayou-show {
  position: absolute;
  top: 365px;
  left: 100px;
  width: 115px;
  height: 76px;
  background-image: url(../img/huayou-bg.png);
  background-size: cover;

}

.mid-section .top-1 .chat-wrap .huayou-show:after {
  content: "滑油压力";
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 10px;
  color: #81b9fc;
}

.mid-section .top-1 .chat-wrap .paiwen-1 {
  position: absolute;
  top: 443px;
  left: 110px;
  width: 104px;
  height: 6px;
  background-image: url(../img/paiwen-1-bg.png);
  background-size: cover;

}

.mid-section .top-1 .chat-wrap .paiwen-1:after {
  content: "1#排温";
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 10px;
  color: #81b9fc;
}


.mid-section .top-1 .chat-wrap .gangwen-3 {
  position: absolute;
  top: 545px;
  left: 80px;
  width: 142px;
  height: 6px;
  background-image: url(../img/gangwen-3-bg.png);
  background-size: cover;
}

.mid-section .top-1 .chat-wrap .gangwen-3:after {
  content: "1#缸温";
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 10px;
  color: #81b9fc;
}


.mid-section .top-1 .chat-wrap .paiwen-3 {
  position: absolute;
  top: 564px;
  left: 63px;
  width: 154px;
  height: 58px;
  background-image: url(../img/paiwen-3-bg.png);
  background-size: cover;
}

.mid-section .top-1 .chat-wrap .paiwen-3:after {
  content: "3#排温";
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 2px;
  font-size: 10px;
  color: #81b9fc;
}

.mid-section .top-1 .chat-wrap .paiwen-3 dl {
  top: auto;
  bottom: 5px;
}

.mid-section .top-1 .chat-wrap .gangwen-2 {
  position: absolute;
  top: 482px;
  left: 540px;
  width: 233px;
  height: 31px;
  background-image: url(../img/gangwen-2-bg.png);
  background-size: cover;
}

.mid-section .top-1 .chat-wrap .gangwen-2:after {
  content: "2缸温度";
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 2px;
  font-size: 10px;
  color: #81b9fc;
}

.mid-section .top-1 .chat-wrap .gangwen-2 dl {
  top: auto;
  bottom: 5px;
}

.mid-section .top-1 .chat-wrap .gangwen-4 {
  position: absolute;
  top: 454px;
  left: 660px;
  width: 115px;
  height: 6px;
  background-image: url(../img/gangwen-4-bg.png);
  background-size: cover;
}

.mid-section .top-1 .chat-wrap .gangwen-4:after {
  content: "4缸排温";
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 10px;
  color: #81b9fc;
}

.mid-section .top-1 .chat-wrap .paiwen-2 {
  position: absolute;
  top: 500px;
  left: 375px;
  width: 131px;
  height: 65px;
  background-image: url(../img/paiwen-2-bg.png);
  background-size: cover;
}

.mid-section .top-1 .chat-wrap .paiwen-2 dl {
  left: 0;
  top: auto;
  bottom: 5px;
}

.mid-section .top-1 .chat-wrap .paiwen-2:after {
  content: "4缸排温";
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 2px;
  font-size: 10px;
  color: #81b9fc;
}

.mid-section .top-1 .chat-wrap .values {
  position: absolute;
  top: 322px;
  left: 277px;
  width: 94px;
  height: 120px;
  background-image: url(../img/values-bg.png);
  background-size: cover;
}
.mid-section .top-1 .chat-wrap .values dl {
  left: 0;
}
.mid-section .top-1 .chat-wrap .values dl:nth-of-type(2) {
  left: 0;
  top: 30px;
}
.mid-section .top-1 .chat-wrap .values span {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2px;
  font-size: 10px;
  color: #81b9fc;
}
.mid-section .top-1 .chat-wrap .values span:nth-of-type(2) {
  top: 60px;
}
.mid-section .top-2 {
  height: 235px;
  position: relative;
  font-size: 14px;
  line-height: 1em;
}

.mid-section .top-2 .btn-send {
  position: absolute;
  top: 0;
  left: 50%;
  width: 152px;
  font-size: 16px;
  line-height: 34px;
  transform: translate(-50%, -88%);
  color: #e83828;
  text-align: center;
}

.mid-section .top-2 .others {
  width: 446px;
}

.mid-section .top-2 .others .others-top {
  position: relative;
  top: -4px;
  display: flex;
  justify-content: space-between;
}

.mid-section .top-2 .others .others-top a {
  width: 83px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  background-image: url(../img/mid-top-2-btn.png);
  background-size: 100%;
}

.mid-section .top-2 .others .others-bottom {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.mid-section .top-2 .others .others-bottom dt {
  margin-right: 22px;
  line-height: 1em;
}

.mid-section .top-2 .others .others-bottom dd {
  position: relative;
  width: 384px;
  height: 8px;
  border-radius: 4px;
  background-color: #1b244d;
}

.mid-section .top-2 .others .others-bottom dd .tooltip {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 4px;
  background-image: linear-gradient(to right, #81b9fc, #fcef01);
  background-size: 384px 4px;
  transition: width linear 0.1s;
}

.mid-section .top-2 .others .others-bottom dd .tooltip:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
}

.mid-section .top-2 .others .others-bottom dd .tooltip span {
  position: absolute;
  color: #fcef01;
  font-size: 16px;
  line-height: 1.2em;
  bottom: 180%;
  left: 100%;
  margin-left: -10px;
  border-bottom: 1px solid #fcef01;
}

.mid-section .top-2 li {
  position: relative;
  margin-bottom: 30px;
}

.mid-section .top-2 li.active:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -14px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: translate(0, -50%);
  background-color: #fcef01;
}

.mid-section .top-2 .line-1 {
  position: absolute;
  top: 42px;
  left: 6px;
  right: 6px;
  display: flex;
  justify-content: space-around;
}

.mid-section .top-2 .line-3 {
  position: absolute;
  top: 142px;
  left: 6px;
  right: 6px;
  display: flex;
  justify-content: space-around;
}